:root {
  --bg-color: hsl(222 42% 95%);
  --btn-add: hsl(81 33% 44%);
  --btn-cancel: hsl(220 80% 13%);
  --btn-delete: hsl(0 70% 60%);
  --tertiary_text: hsl(235 7% 64%);
  --input-text: hsl(234 47% 12%);
  --horizontal-rule: hsl(235 7% 64%);
  --white-color: hsl(0 0% 100%);
}